<div class="dickit-navbar">
  <div class="logo-wrapper">
    <a routerLink="/">
      <img src="assets/images/brand_beta.png" />
    </a>
  </div>
  <div class="right-navbar">
    <ul>
      <li class="right-navbar-item" *ngFor="let item of (authService.isSigned ? rightSignedItems : rightUnsignedItems)">
        <a routerLink="{{item.href}}">{{item.text}}</a>
      </li>
    </ul>
  </div>
</div>