@import "../../../../assets/styles/colors";

.dickit-navbar {
  height: 68px;

  .logo-wrapper {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    padding: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0 !important;

    img {
      height: 40px;
    }
  }

  .right-navbar {
    float: right;

    .right-navbar-item {
      display: inline-block;
      padding: 8px 10px;

      a {
        text-decoration: none;

        &:hover {
          cursor: pointer !important;
          color: $hover-color;
        }
      }
    }
  }
}
