<div class="sandbox-menu">
  <div class="sandbox-menu-item">
    <a routerLink="/sandbox">Sandbox</a>
  </div>
  <div class="sandbox-menu-item">
    <a routerLink="/sandbox/bindings">Bindings</a>
  </div>
  <div class="sandbox-menu-item">
    <a routerLink="/sandbox/animations">Animations</a>
  </div>
</div>