@import "../../../assets/styles/colors";

$border-width: 2px;

.sign-up-wrapper {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;

  .form-group {
    label {
      display: block;
    }

    input {
      max-width: 400px;
      display: block;
      background: none;
      border: $border-width solid #2A88F8;
      border-radius: 30px;
      width: 100%;
      padding: 5px 15px;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 200;

      &:focus {
        outline: none;
      }
    }

    .error {
      color: $red;
    }
  }
}
