<form [formGroup]="signUpForm" novalidate (ngSubmit)="onSubmit()">
  <div class="sign-up-wrapper">
    <div class="form-group" *ngFor="let field of fields">
      <div *ngIf="signUpForm.controls[field.key].invalid && signUpForm.controls[field.key].touched" [class]="field.error.className">{{field.error.text}}</div>
      <input [name]="field.input.name" [type]="field.input.type" [placeholder]="field.input.placeholder" [formControlName]="field.input.formControlName" />
    </div>
    <dickit-button type="submit" className="blue-filled" text="Sign Up"></dickit-button>
  </div>
</form>
