<div class="feed-template">
  <div class='feed-item-wrapper' *ngFor="let item of items">
    <div [ngSwitch]="item.type">
      <ng-template ngSwitchCase="comment">
        <template [ngTemplateOutlet]="commentTemplate" [ngTemplateOutletContext]="{item: item}"></template>
      </ng-template>
      <ng-template ngSwitchCase="event">
        <template [ngTemplateOutlet]="eventTemplate" [ngTemplateOutletContext]="{item: item}"></template>
      </ng-template>
      <ng-template ngSwitchDefault>unknown</ng-template>
    </div>
  </div>
</div>
