@import "../../../assets/styles/colors";

$never-miss-font-size: 24px;

.home-wrapper {
  .never-miss-another-moment {
    text-align: center;
    text-transform: uppercase;
    color: $primary;
    font-size: $never-miss-font-size;
    letter-spacing: 5px !important;
  }
}