<form #loginForm="ngForm" novalidate (ngSubmit)="onSubmit(loginForm)">
  <div class="login-form-wrapper">
    <div class="form-group">
      <div [hidden]="email.valid || email.untouched" class="error">
        Invalid email
      </div>
      <input name="email" class="form-control" type="text" placeholder="Email" [(ngModel)]="data.email" required email #email="ngModel" />
    </div>
    <div class="form-group">
      <div [hidden]="password.valid || password.untouched" class="error">
        Invalid password
      </div>
      <input name="password" class="form-control" type="password" placeholder="Password" [(ngModel)]="data.password" required #password="ngModel" />
    </div>
    <dickit-button type="submit" className="blue-filled" text="Log In"></dickit-button>
  </div>
</form>
