<div class="feed-wrapper">
  <div *ngIf="!isInitiallyLoaded">Loading...</div>
  <div *ngIf="isInitiallyLoaded && items.length === 0">You have no feed...</div>

  <feed-template [items]="items">
    <ng-template #commentTemplate let-item="item">
      <feed-comment-item [item]="item"></feed-comment-item>
    </ng-template>
    <ng-template #eventTemplate let-item="item">
      <feed-event-item [item]="item"></feed-event-item>
    </ng-template>
  </feed-template>
</div>
