<div class="feed-comment-item">
  <div class="header"><span class="creator">{{username}}</span> created a comment</div>
  <div class="body">
    <dickit-image [src]="imageUrl" *ngIf="!!imageUrl"></dickit-image>
    <div class="text" *ngIf="!!text">{{text}}</div>
  </div>
  <div class="footer">
    <div class="action-bar"></div>
    <div class="timestamp">{{createdAt | timestamp}}</div>
  </div>
</div>
