$font-color: #000;
$hover-color: #2A88F8;
$primary: #2A88F8;
$dark-primary: #2564C8;

$white: #FFFFFF;
$black: #000000;

$red: #EE2019;
$dark-red: #a90009;

$green: #7ED321;
$dark-green: #4ea800;
$darkest-green: #338200;

$grey: #9B9B9B;
$dark-grey: #878787;
$border-grey: #e2e2e2;
