<div class="feed-event-item">
  <div class="header">
    <span class="creator">{{username}}</span> created an event
  </div>
  <div class="body">
    <dickit-image [src]="imageUrl"></dickit-image>
    <div class="title" *ngIf="!!title">{{title}}</div>
  </div>
  <div class="footer">
    <div class="action-bar"></div>
    <div class="timestamp">{{createdAt | timestamp}}</div>
  </div>
</div>
