@import "../../../../../assets/styles/colors";

.feed-event-item {
  .header {
    padding: 20px 10px;

    .creator {
      font-weight: 600;
    }
  }

  .body {
    border-top: 1px solid $border-grey;
    border-bottom: 1px solid $border-grey;

    .title {
      font-weight: 600;
      padding: 10px;
    }
  }

  .footer {
    padding: 10px;
    clear: both;
    overflow: hidden;

    .action-bar {}

    .timestamp {
      float: right;
    }
  }
}
